
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
 
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 1920px;
  overflow:hidden;
}
.desktop-3-RXn {
  width:1920px;
  height:1400px;
  position: fixed;
  background-position: center center ;
  background-size: cover;
  background-image: url('../public/Pin\ by\ Sandra\ Pérez\ López\ on\ Zollotech\ _\ Iphone\ lockscreen\ wallpaper\,\ Phone\ wallpaper\ boho\,\ Colourful\ wallpaper\ iphone.jpeg');
}
.desktop-3-RXn .auto-group-wvlp-wm2 {

  position: absolute;
  align-items: center;
 
}
.desktop-3-RXn .auto-group-wvlp-wm2 .auto-group-21ng-gic {
  margin-right: 29rem;
  width: 74rem;
  height: 100%;
 position:absolute;

}
.desktop-3-RXn .auto-group-wvlp-wm2 .auto-group-21ng-gic .saras-blog-d84 {
  margin:2px 70px;
  position:absolute;
  font-size: 3.8rem;
  font-weight: 200;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.8100000024);
 
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.desktop-3-RXn .auto-group-wvlp-wm2 .auto-group-21ng-gic .explore-a-whole-new-world-of-books-through-my-blog-htc {
  margin:55px 70px;
  font-size: 2.5rem;
  font-weight: 400;
  color: rgba(252, 246, 246, 0.751);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position:absolute;
}
.desktop-3-RXn .auto-group-wvlp-wm2 .auto-group-incp-CaU {
  margin: 40px 270px 100px;
  width:170px;
  height:50px;
  border-radius: 1rem;
  position: absolute;

}

.desktop-3-RXn .auto-group-pcfa-8pp {
  width: 100%;
  height: 74rem;
  
position:absolute;
}
.desktop-3-RXn .auto-group-pcfa-8pp .all-the-bright-places{
  margin: 120px 200px;
  font-size: 3.1rem;
  font-weight: 100;
  color: #ffffff;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: absolute;
}
.desktop-3-RXn .auto-group-pcfa-8pp .rectangle-9-toz1 {
  margin:200px 300px;
  width: 7rem;
  height: 7rem;
 position:fixed;
  border-radius: 1rem;
}
.desktop-3-RXn .auto-group-pcfa-8pp .rectangle-9-toz2{
  margin:200px 500px;
  width: 7rem;
  height: 7rem;
 position:fixed;
  border-radius: 1rem;
}
.desktop-3-RXn .auto-group-pcfa-8pp .rectangle-9-toz3{
  margin:200px 700px;
  width: 7rem;
  height: 7rem;
 position:fixed;
  border-radius: 1rem;
}
.desktop-3-RXn .auto-group-pcfa-8pp .rectangle-9-toz4 {
  margin:200px 900px;
  width: 7rem;
  height: 7rem;
 position:fixed;
  border-radius: 1rem;
}
.desktop-3-RXn .auto-group-pcfa-8pp .rectangle-9-toz5 {
  margin:200px 1100px;
  width: 7rem;
  height: 7rem;
 position:fixed;
  border-radius: 1rem;
}
.desktop-3-RXn .auto-group-pcfa-8pp .rectangle-9-toz6 {
  margin:200px 1300px;
  width: 7rem;
  height: 7rem;
 position:fixed;
  border-radius: 1rem;
}

.desktop-3-RXn .about-us .text-us
{
  margin: 17% 5%;
  font-size: 2.5rem;
  color: #ffffff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.desktop-3-RXn .about-us .book8
{
  margin:  0px 0px 0px 100px;
}
 
