@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: left;
  background-color: #00050a;
  flex-direction: column;
  background-image: url(../assests/final-fantasy-xvi-se.jpg);
  background-size: 100%;
  margin-right: 550px;
  background-position-x: right;
  background-repeat: no-repeat;
  
}

.headerContainer {
  width: auto;
  margin-left: 50px;
}

.headerContainer h1 {
  justify-content: center;
  align-items: center;
  font-size: 65px;
  margin-right: 750px;
  height: 60px;
  font-weight:45;
  font-family: 'Permanent Marker', cursive;
  color: rgb(0, 0, 0);
}

.headerContainer p {
  padding: 0;
  font-family: 'Permanent Marker', cursive;
  margin-right: 750px;
  font-size: 40px;
  font-weight: lighter;
  margin-top: 52px;
  color: rgb(194, 0, 0);
}

.headerContainer button {
  color: black;
  border: none;
  margin-top: 7%;
  border-radius: 50px;
  margin-right: 750px;
  font-family: 'Permanent Marker', cursive;
  cursor: pointer;
  justify-content: center;
  background-color: #121619;
  height: 70px;
  width: 210px;
  color: white;
  text-decoration: none;
  font-size :0.83rem;
}

@media only screen and (max-width: 650px) {
  .home {
    justify-content: center;
    align-items: center;
  }

  .headerContainer {
    margin-left: 0px;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #121619;
    color: white;
  }

  .headerContainer h1 {
    font-size: 40px;
    height: 30px;
    color: white;
  }

  .headerContainer p {
    font-size: 30px;
    color: white;
  }


}
.headerContainer button,
.headerContainer button::after {
 padding: 16px 20px;
 font-size: 18px;
 background: linear-gradient(45deg, transparent 5%, #b20505 5%);
 border: 0;
 color: #fff;
 letter-spacing: 3px;
 line-height: 1;
 box-shadow: 6px 0px 0px #00e6f6;
 outline: transparent;
 position: relative;
}

.headerContainer button::after {
 --slice-0: inset(50% 50% 50% 50%);
 --slice-1: inset(80% -6px 0 0);
 --slice-2: inset(50% -6px 30% 0);
 --slice-3: inset(10% -6px 85% 0);
 --slice-4: inset(40% -6px 43% 0);
 --slice-5: inset(80% -6px 5% 0);
 content: "Games Catalog";
 display: block;
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background: linear-gradient(45deg, transparent 3%, #00e6f6 3%, #00e6f6 5%, #ff013c 5%);
 text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
 clip-path: var(--slice-0);
}

.headerContainer button:hover::after {
 animation: 1s glitch;
 animation-timing-function: steps(2, end);
}

@keyframes glitch {
 0% {
  clip-path: var(--slice-1);
  transform: translate(-20px, -10px);
 }

 10% {
  clip-path: var(--slice-3);
  transform: translate(10px, 10px);
 }

 20% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 10px);
 }

 30% {
  clip-path: var(--slice-3);
  transform: translate(0px, 5px);
 }

 40% {
  clip-path: var(--slice-2);
  transform: translate(-5px, 0px);
 }

 50% {
  clip-path: var(--slice-3);
  transform: translate(5px, 0px);
 }

 60% {
  clip-path: var(--slice-4);
  transform: translate(5px, 10px);
 }

 70% {
  clip-path: var(--slice-2);
  transform: translate(-10px, 10px);
 }

 80% {
  clip-path: var(--slice-5);
  transform: translate(20px, -10px);
 }

 90% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 0px);
 }

 100% {
  clip-path: var(--slice-1);
  transform: translate(0);
 }
}